body {
	background: #666;
	color: #fff;
	font-family: 'Noto Sans';
	font-size: 19px;
}

.big-link {
	font-weight: lighter;
	font-size: 32px;
}

a {
	text-decoration: none;
	color: #aaf;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans';
}

h1, h2 {
	font-weight: lighter;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4, h5, h6 {
	font-size: 18px;
}